:root {
  --main-bg-color: #114b5f;
  --main-text-color: #6b2737;
  --secondary-bg-color: #456990;
  --highlight-color: #e4fde1;
  --active-text-color: #f45b69;
  --checked-color: #66bb6a;
}

.App {
  text-align: center;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--highlight-color);
  position: relative;
}

.App-langpicker {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #fff;
  border-radius: 3px;
}

.App-langpicker > div {
  display: block;
}

.App-header {
  display: flex;
}

.App-link {
  color: var(--active-text-color);
}

.App-body {
  display: flex;
  flex-direction: column;
}

.App-container {
  padding: 30px 0;
  display: grid;
  grid-gap: 2vw;
}

.App-selected-size {
  display: flex;
  color: var(--highlight-color);
  position: fixed;
  bottom: 12px;
  left: 12px;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .App-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .App-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .App-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .App-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .App-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
