:root {
  --main-bg-color: #114b5f;
  --main-text-color: #6b2737;
  --secondary-bg-color: #456990;
  --highlight-color: #e4fde1;
  --active-text-color: #f45b69;
  --checked-color: #66bb6a;
}

.App {
  text-align: center;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--highlight-color);
  position: relative;

  &-langpicker,
  &-sortpicker {
    position: absolute;
    top: 12px;
    background: #fff;
    border-radius: 3px;
  }

  &-langpicker {
    left: 12px;
  }

  &-sortpicker {
    right: 12px;
  }

  &-header {
    display: flex;
  }

  &-link {
    color: var(--active-text-color);
  }

  &-body {
    display: flex;
    flex-direction: column;
  }

  &-container {
    padding: 30px 0;
    display: grid;
    grid-gap: 20px;
  }

  &-selected-size {
    display: flex;
    color: var(--highlight-color);
    position: fixed;
    bottom: 12px;
    left: 12px;
    flex-direction: column;

    & > div {
      display: flex;
    }
  }

  &-exports {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 12px;
    right: 12px;
  }
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .App-container {
    grid-template-columns: 1fr 1fr;
    min-width: 268px;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .App-container {
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 412;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .App-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 556;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .App-container {
    min-width: 700;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .App-container {
    min-width: 844px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
